/*this is the grid color */
:root {
  --main-dark: #666;
  --main-light: #ededed;
}


.grid {
  display: grid;
  max-width: 500px;
  min-height: 500px;
  margin: 2rem auto;
  border: 1px solid var(--main-dark);
}

.grid-element {
  border: 1px solid var(--main-dark);
  background-color: "black";
}

